

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.title-center {
  font-size: xx-large;
  font-family: 'Bebas Neue', cursive;
  margin: 0 auto;
}



