<form>
  <h3>Reset Password</h3>

  <div class="container">
    <p class="text-center">Por favor, digite seu endereço de e-mail para solicitar uma redefinição de senha.</p>

    <label for="uname"><b>e-mail</b></label>
    <input type="text" placeholder="e-mail" #passwordResetEmail required>
      
    </div>
    <button type="submit" (click)="authService.ForgotPassword(passwordResetEmail.value)"> Recuperar Senha</button>
    
  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Deseja voltar ?<a href="/login"> Login</a></span>
  </div>
</form>
